[data-level^="4"]{
    fill: #15DBFF !important;
}
[data-level^="3"]{
    fill: #A05BFD !important;
}
[data-level^="2"]{
    fill: #64F651 !important;
}
[data-level^="1"]{
    fill: #FF72C1 !important;
}
